@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
}
.dshcontainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100% !important;
}
.dshcontainer .sidebar {
  width: 20%;
}
.dshcontainer .content {
  width: 100%;
  height: 100vh;
}
.contentscrolled {
  height: 92.5vh;
}

@media only screen and (max-width: 900px) {
  body {
    background-color: lightblue;
  }
  .dshcontainer {
    position: relative;
  }

  .dshcontainer .sidebar {
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
  .dshcontainer .content {
    width: 100%;
    background-color: white;
  }
}

.wi-0 {
  width: 0 !important;
}
