.headnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:5px 20px;
}
.leftnavheader{
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

.leftnavheader input{
    border: 1px solid rgba(0, 0, 0, 0.39);
    padding: 8px;
    width: 250px;
    margin-left: 10px;
}

.rightnavheader{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}



@media only screen and (max-width: 420px) {
    .leftnavheader input{
width: 150px;
    }
}